<!--next two lines for devise-->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div style="text-align: center">
      <div style="display: inline-block">
        <img src="/1.jpg" alt="..." class="img-circle">
        <img src="/2.jpg" alt="..." class="img-circle">
        <img src="/3.jpg" alt="..." class="img-circle">
        <img src="/4.jpg" alt="..." class="img-circle">
        <img src="/5.jpg" alt="..." class="img-circle">
        <img src="/6.jpg" alt="..." class="img-circle">
      </div>
    </div>
    <h1>Remember your life.</h1>
    <h2>Write one short line each day.</h2>
    <p>Test Edit. If you've never done this before, the benefits are almost hard to describe. But have you ever had this experience:</p>
    <ul>
      <li>You're reminiscing with friends, when something they say triggers a memory you had completely forgotten about?</li>
      <br>
      <li>You remember it in vivid detail - the memory existed in your mind all along - but you get the sense that if they had not reminded you, you may have gone the rest of your life without ever thinking of it again?</li>

    </ul>
    <p>These moments can provide a powerful connection to a particular place and time. However they can also be haunting, since we're forced to confront the fact that a certain amount of our experiences are beyond our reach.</p>
    <p>As your one line journal begins to fill, it's fascinating to scan through and realize how much recall you have of your daily experiences.</p>
    <p>Once you see for yourself, you'll be hooked.
      <% if !user_signed_in? %>
        Please tell us about your day below, and get started right now.</p>
      <% else %>
        </p>
      <% end %>
  </div>
</div>
<% if !user_signed_in? %>
    <div class="container">
      <div class="panel panel-primary">
        <!--<div class="panel-heading">-->
        <!--<h3 class="panel-title">Panel title</h3>-->
        <!--</div>-->
        <div class="panel-body">
          <form class="form-horizontal" action="/welcome" method="post" role="form">
            <div class="form-group">
              <label for="startDay" class="col-lg-1 control-label">My Day:</label>
              <div class="col-lg-11">
                <input type="text" class="form-control" name="startDay" placeholder="Ex: Car needed boost, late for work. Peel Pub with Jim for Lunch; fajitas. Parents sold their house. Watched Breaking Bad with Ash @ night.">
              </div>
              <!--<label class="sr-only" for="startDay">Email address</label>-->
              <!--<input type="test" class="form-control" id="startDay" placeholder="Tell me about your day! (Ex: Car needed boost, late for work. Peel Pub with Jim for Lunch; fajitas. Parents sold their house. Watched Breaking Bad with Ash @ night.">-->
            </div>
            <div class="form-group">
              <div class="col-lg-offset-1 col-lg-11">
                <button type="submit" class="btn btn-primary btn-lg">Start Now &raquo;</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
<% end %>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="../../assets/js/jquery.js"></script>-->
<!--<script src="../../dist/js/bootstrap.min.js"></script>-->