<div class="container" xmlns="http://www.w3.org/1999/html">
  <hr>
  <footer>
    <div class="row-fluid">
      <div class="col-md-3 pull-left"><p>&copy; Saltwater Software 2013-2014</p></div>
      <div class="col-md-2 pull-right"><a href="mailto:contact@saltwatersoftware.ca">admin@onelinejournal.org</a></div>
    </div>
  </footer>
</div>