<div class="container" xmlns="http://www.w3.org/1999/html">
  <hr>
    <footer>
      <div class="row">
        <div class="col-md-5"><p>&copy; Saltwater Software 2013</p></div>
        <div class="col-md-2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.onelinejournal.org" data-text="Start a one sentence journal and remember your life." data-via="1linejournal">Tweet</a></div>

        <div class="col-md-5"><a href="mailto:contact@saltwatersoftware.ca" style="float: right">contact@saltwatersoftware.ca</a></div>
      </div>
    </footer>
</div>

<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.onelinejournal.org" data-text="Start a one sentence journal and remember your life." data-via="1linejournal">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>