<div class="container" xmlns="http://www.w3.org/1999/html">
  <hr>
    <footer>
      <div class="row">
        <div class="col-md-5"><p>&copy; Saltwater Software 2013</p></div>
        <div class="col-md-2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.onelinejournal.org" data-text="Start a one sentence journal and remember your life." data-via="1linejournal">Tweet</a></div>
        <div class="col-md-5"><a href="mailto:contact@saltwatersoftware.ca" style="float: right">admin@onelinejournal.org</a></div>
      </div>
    </footer>
</div>